.text
    font-size: $font-size-standard

.subtitle
    font-size: $font-size-subtitle

.title
    font-size: $font-size-title

.icon
    font-size: 1.2rem
    cursor: pointer
    transition: all $transition-duration
    user-select: none

    &:hover, &.active
        opacity: .7
        transform: scale(1.15)

.is-blue
    color: $blue-primary

.justify-center
    display: flex !important
    justify-content: center !important

.justify-end
    display: flex !important
    justify-content: flex-end !important