.text
    font-size: $font-size-standard

.subtitle
    font-size: $font-size-subtitle

.title
    font-size: $font-size-title

.icon
    font-size: 1.2rem
    cursor: pointer
    transition: all $transition-duration
    user-select: none

    &:hover, &.active
        opacity: .7
        transform: scale(1.15)
