@import 'src/styles/colours'
@import 'src/styles/variables'

header
    .icon
        font-size: 1.6rem
        position: relative

        &:not(:first-child), &.primary
            margin: 0 $padding-standard

        &:not(.primary)
            color: $white

    .dropdown-wrapper
        position: relative

        .dropdown
            position: absolute
            right: $padding-standard - .3rem
            top: calc(100% + .5rem)
            height: 15rem
            width: 23rem
            background-color: $white
            border: $border-light
            box-shadow: $box-shadow-primary
            border-radius: $border-radius
            z-index: 1000
